<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WatchedFolders" type="ConsoleApp.CustomConfig.CustomFolderSection, ConsoleApp"/>
    <section name="FileRules" type="ConsoleApp.CustomConfig.CustomRuleSection, ConsoleApp"/>
  </configSections>
  <WatchedFolders>
    <Folder name="folder1"/>
    <Folder name="folder2"/>
  </WatchedFolders>
  <FileRules>
    <Rule pattern="pattern1" folderDestination="destination1" shouldAddNumber="false" shouldAddMovingDate="false" />
  </FileRules>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="culture" value="en-US" />
  </appSettings>
</configuration>